body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ECEAE0;
}

.tree {
	padding: 5px;
}

header div.headerWrapper {
	border-bottom: 2px solid #3D9EFF;
	min-height: 50px;
	padding: 10px 20px 0;
	background-color: #221E1D;
}

.caption {
	font-size: 25px;
	font-weight: bold;
	color: white;
	background-color: #221E1D;
	width: 30%;
	margin-left: 35%;
	margin-top: 10px;
}

.help {
	float: right;
	font-size: 15px;
	color: white;
}

#browse {
	height: 24px;
    line-height: 15px;
    margin-left: 47%;
    margin-top: 1%;
    width: 43%;
}

.fileData {
	width: 93%;
	min-height: 450px;
}

#transform {
	margin-top: 215px;
	width: 100%;
}

#jsontreeview {
	padding: 0px 15px 15px 0px;
	min-height: 0px;
	color: rgb(199, 196, 196);
}

#reset {
	margin-top: 142px;
	margin-left: 15px;
	width: 65%;
}

#info {
	color: red;
	margin-top: 8px;
}

a:link {
	color: white;
	font-size: 1em;
	font-weight: 500;
	font-family: arial, helvetica, sans-serif;
	text-decoration: none;
}

a:visited {
	color: #BDE0F1;
	font-size: 1em;
	font-weight: 500;
	font-family: arial, helvetica, sans-serif;
	text-decoration: none;
}

a:hover {
	color: #1EA0E0;
	font-size: 1em;
	font-weight: 500;
	font-family: arial, helvetica, sans-serif;
	text-decoration: none;
}

.home {
	float: right;
	font-size: 15px;
	color: white;
}

.accessplan {
	width: 40%;
	float: left;
	padding: 20px 0px 0px 20px;
	font-weight: bold;
	min-height: 590px;
}

.actions {
	float: left;
	width: 8%;
	padding: 0px 15px 0px 15px;
	min-height: 200px;
	padding: 0px 15px 0px 15px;
}

.treeview {
	float: right;
	width: 47%;
	padding: 20px 0px 15px 0px;
	min-height: 200px;
	color: #63AA9C;
	font-weight: bold;
	margin-right: 1%;
	min-height: 590px;
}

legend.accessplanborder {
	width: inherit;
	padding: 0 10px;
	border-bottom: none;
	color: #E9633B;
	margin-top: 15px;
}

fieldset.accessplanborder {
	border: 2px groove #63AA9C !important;
	padding: 0 0 1.9em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #63AA9C;
	box-shadow: 0px 0px 0px 0px #63AA9C;
	min-height: 590px;
	margin-top: 15px;
}

.helpcontent {
	 margin: 5% 10% 0;
	 font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
    font-size: 15px;
    line-height: 25px;
}

.helpheader {
	 font-family: 'Raleway',Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 43%;
}

.img {
	border-radius : 5px;
	margin-left : 5%;
}